.wrp{
    width: 100%;
}
@media screen and (min-width: 992px) {
    .left{
        width:150px;
        height:500px;
        background-color:#95caca;
    }
    .left,.right{
        float: left;
    }
    .left-1 h3{
        text-align: center;
        color:#fff;
    }
    .left-1 div{
        border:2px solid #fff;
        margin:0 auto;
        width:100px;
        height:100px;
    }
    .left-2{
        margin-left:25px;
    }
    .left-2 h3{
        color:#fff;
        margin-top:30px;
        margin-bottom:5px;
    }
    .left-2 p{
        margin-top:0;
        margin-bottom:0;
    }
    .right a{
        margin-left:30px;
        font-size:10px;
        color:#000;
    }
    a{
        text-decoration: none;
    }
    .contact{
        width:120px;
        height:30px;
        background-color: #95caca;
        color:#ffffff;
        text-align: center;
        font-size:18px;
        font-weight: bold;
        line-height: 30px;
        margin-top:40px;
        margin-bottom: 30px;
    }
    .name input{
        width: 400px;
        height: 30px;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .name textarea{
        width:400px;
        height:150px;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .name button{
        width: 70px;
        height: 30px;
        background-color: orange;
        border: 0;
        color: #fff;
        text-align: center;
        margin-left: 30px;
    }
}
@media screen and (max-width: 768px){
    .left{
        width: 100%;
        background-color: #95caca;
    }
    .left-1 h3{
        color:#fff;
    }
    .left_1 div{
        border: 2px solid #fff;
        /*margin: 0 auto;*/
        width: 100px;
        height: 100px;
    }
    .left_1,.left_2{
        float: left;
    }
    .left-2 h3{
        color:#fff;
        margin-top:30px;
        margin-bottom:5px;
    }
    .left-2 p{
        margin-top:0;
        margin-bottom:0;
    }
    .right a{
        margin-left: 30px;
        font-size: 10px;
        color:#000;
    }
    a{
        text-decoration: none;
    }
    .contact{
        width: 120px;
        height: 30px;
        background-color: #95caca;
        color: #ffffff;
        text-align: center;
        font-size:18px;
        font-weight: bold;
        line-height: 30px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .name input{
        width: 400px;
        height: 30px;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .name textarea{
        width: 400px;
        height:150px;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .name button{
        width: 70px;
        height: 30px;
        background-color: orange;
        border: 0;
        color: #fff;
        text-align: center;
        margin-left:30px;
    }
}
.clearFloat:after{
    content: '';
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearFloat{
    zoom: 1;
}